/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/circularstd/CircularStd-Bold.eot');
  src: url('../fonts/circularstd/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/circularstd/CircularStd-Bold.woff') format('woff'), url('../fonts/circularstd/CircularStd-Bold.ttf') format('truetype'), url('../fonts/circularstd/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/circularstd/CircularStd-BoldItalic.eot');
  src: url('../fonts/circularstd/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/circularstd/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/circularstd/CircularStd-BoldItalic.ttf') format('truetype'), url('../fonts/circularstd/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/circularstd/CircularStd-Medium.eot');
  src: url('../fonts/circularstd/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/circularstd/CircularStd-Medium.woff') format('woff'), url('../fonts/circularstd/CircularStd-Medium.ttf') format('truetype'), url('../fonts/circularstd/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/circularstd/CircularStd-MediumItalic.eot');
  src: url('../fonts/circularstd/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/circularstd/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/circularstd/CircularStd-MediumItalic.ttf') format('truetype'), url('../fonts/circularstd/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/circularstd/CircularStd-Book.eot');
  src: url('../fonts/circularstd/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/circularstd/CircularStd-Book.woff') format('woff'), url('../fonts/circularstd/CircularStd-Book.ttf') format('truetype'), url('../fonts/circularstd/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/circularstd/CircularStd-BookItalic.eot');
  src: url('../fonts/circularstd/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/circularstd/CircularStd-BookItalic.woff') format('woff'), url('../fonts/circularstd/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/circularstd/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: italic;
}

/* Noe Display @font-face kit */
@font-face {
  font-family: "Noe Display";
  src: url("../fonts/noe/noe-display-bold.eot");
  src: url("../fonts/noe/noe-display-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/noe/noe-display-bold.woff") format("woff"), url("../fonts/noe/noe-display-bold.ttf") format("truetype"), url("../fonts/noe/noe-display-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noe Display";
  src: url("../fonts/noe/noe-display-bold-italic.eot");
  src: url("../fonts/noe/noe-display-bold-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/noe/noe-display-bold-italic.woff") format("woff"), url("../fonts/noe/noe-display-bold-italic.ttf") format("truetype"), url("../fonts/noe/noe-display-bold-italic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Noe Display";
  src: url("../fonts/noe/noe-display-regular.eot");
  src: url("../fonts/noe/noe-display-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noe/noe-display-regular.woff") format("woff"), url("../fonts/noe/noe-display-regular.ttf") format("truetype"), url("../fonts/noe/noe-display-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noe Display";
  src: url("../fonts/noe/noe-display-regular-italic.eot");
  src: url("../fonts/noe/noe-display-regular-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/noe/noe-display-regular-italic.woff") format("woff"), url("../fonts/noe/noe-display-regular-italic.ttf") format("truetype"), url("../fonts/noe/noe-display-regular-italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}